body{
    background-color: black;
    color: white;
    text-align: center;

}

#topbar{
    display: block;
    width: 100%;
    position:fixed;
    z-index: 1;
}
.topbar-right{
    float:right;
}

.sidebar{
    height: 100%;
    display:flex;
    position: fixed !important;
    z-index: 1;
    overflow:auto;
}

.container{
    background: whitesmoke;
    color: rgb(15,15,15);
    padding:100px
}

h1{
    margin: 300px, 0px;
}

.profile-pic{
    width:20%;
    max-height: 200px;
    border: 1px solid black;
    border-radius: 20%;
    object-fit: cover;
    object-position: 80% 25%;
}

.profile-pic:hover{
    border: 1px solid blue;
    border: 2px solid silver;
}

.centered{
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    padding:5%;
}
